html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

main {
  overflow: hidden;
  height: 100%;
  position: relative;
  background: url(../img/brickwall.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  display: inline-block;
  padding: 5px 0;
  color: #eee;
  font-size: 4em;
  text-shadow: -3px 5px 1px #222;
}

a:hover {
  text-shadow: -10px 15px 3px #222;
  font-size: 5em;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

.social_icons {
  text-align: center;
  margin-top: 30px;
  width: 100%;
}
