$black: #222;
$blue: #178ccb;
$text-color: lighten($black, 20%);
$yellow: #ffd600;
$orange: #fb8c00;
$red: #ee3b3b;
$purple: #894fba;
$light-blue: #f4f6f9;

$space-white: #eee;
$white: #fff;
$white-glow: 0 0 16px #48c8ff;
$white-glow-low: 0 0 4px #48c8ff;

$fine: 300;
$normal: 400;
$bold: 600;

html,
body {
  height: 100%;
  font-family: "Raleway", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #202124;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.content {
  width: 500px;
}

.name {
  cursor: default;
  font-weight: $bold;
  font-size: 36px;
  text-align: center;

  letter-spacing: 5px;
  color: $white;
  text-shadow: $white-glow;
  text-transform: uppercase;
}

.social-icons {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.social-icon {
  list-style: none;
}

.links {
  color: $white;
  text-decoration: none;
  cursor: pointer;
  font-size: 48px;

  &:hover {
    text-shadow: $white-glow-low;
    transition: all 0.2s ease-in-out;

    @media (max-width: 425px) {
      text-shadow: none;
      transition: none;
    }
  }

  i,
  span {
    display: inline-block;
    vertical-align: middle;
  }

  i {
    text-align: center;
  }

  span {
    margin-left: 20px;
  }
}

@import "./GlitchText.scss";
